<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>

        label{

            width: 80px;
            text-align: right;
            display: inline-block;

        }
    </style>
</head>
<body center>

<hr />
<h3 style="text-align:center;">
	<span style="color:#009900;">自由薪测试</span>
</h3>
<p>
	<span style="color:#009900;">
	<hr />
    <form action="/login" method="post" >
        <p >

            <label for="username" >用户名</label>
            <input id="username" name="user" type="text"/>
        </p>
        <p >
            <label for="password">密码</label>
            <input id="password" name="pwd" type="text"/>


            <input type="submit" value="提交" style="color:#17990d;">

            <span style="color: red">{{error_msg}}</span>
        </p>
    </form>

<hr />
	<div style="text-align:right;">
		自由薪测试
	</div>
</body>
</html>